<h1>Comedians</h1>
<section class="comedians row">
  <ul class="list-inline">
    <% @comedians.each do |comedian| %>
      <li class="list-inline-item" id=<%= comedian.name %>>
        <h3><%= comedian.name %></h3>
          Age: <%= comedian.age %>
          City: <%= comedian.city %>
          Specials: 
          <ul> 
            <% comedian.specials.each do |special| %>
            <li>
                <%= special.name %>
                Runtime: <%= special.length %>
                <img class="img-thumbnail" src="<%= special.image_location %>" alt="<%=special.name %>"
            </li>
            <% end %>
            </ul>
      </li>
    </ul>
  <% end %>
</section>