<h1>Comedians</h1>
<section id="statistics">
  <h2>Statistics</h2>
  <p>    
  Average Age: <%= @average_age %> <br />
  Average TV Special Runtime: <%= @average_length.to_i %> minutes<br />
  Cities: <%= @cities %>
  </p>
</section>
<section class="row">
    <% @comedians.each do |comedian| %>
      <article class="comedian" id=<%= comedian.name %>>
        <h3><%= comedian.name %></h3>
        <div class="comedian-stats">
          Age: <%= comedian.age %> <br />
          City: <%= comedian.city %> <br />
        </div>
        <div class="specials">
          <h6>Specials: </h6>
          <ul> 
            <% comedian.specials.each do |special| %>
            <li>
                <%= special.name %>
                Runtime: <%= special.length %>
                <img class="img-thumbnail" src="<%= special.image_location %>" alt="<%=special.name %>"
            </li>
            <% end %>
            </ul>
          </div>
      </article>
  <% end %>
</section>