<section class="individual">
  <h3><%= @comedian.name %></h3>
  <div class="comedian-stats">
    Age: <%= @comedian.age %> <br />
    City: <%= @comedian.city %>
  </div>
  <div class="specials">   
    <h5>Specials:</h5> 
    <% if @comedian.specials.empty? %>
      <p>
      No joke: this comedian has no specials.
      </p>  
    <% else %>
    <ul> 
      <% @comedian.specials.each do |special| %>
      <li>
          <h6><%= special.name %></h6>
          Runtime: <%= special.length %> <br />
          <img class="img-thumbnail" src="<%= special.image_location %>" alt="<%=special.name %>">
      </li>
      <% end %>
      </ul>
      <% end %>
  </div>
  
</section>
