<h2><%= @comedian.name %></h2>
<p>
  Age: <%= @comedian.age %>
  City: <%= @comedian.city %>
  Specials: <% @comedian.specials.each do |special| %>
              <%= special.name %>
              Runtime: <%= special.length %>
              <img class="img-thumbnail" src="<%= special.image_location %>" alt="<%=special.name %>">
            <% end %>
</p>